{% extends "core/base.html" %}

{% block content %}
<div class="container-fluid profile view-cart view-cart-right-side-bar">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 d-none d-md-block sidebar bg-light shadow-sm p-3">
            <nav>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'profile' %}">
                                <i class="fas fa-user-circle"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'changepassword' %}">
                                <i class="fas fa-key"></i> Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'order' %}">
                                <i class="fas fa-box"></i> Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'viewcart' %}">
                                <i class="fas fa-shopping-cart"></i> Cart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'address' %}">
                                <i class="fas fa-map-marker-alt"></i> Address
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        <!-- Change Password Form -->
        <div class="col-md-8">
            <div class="container profile-form mt-5 p-4 shadow-sm bg-white rounded">
                <div class="reg">
                    <h3 class="text-primary">Change Password</h3>
                </div>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for f in mf %}
                    <div class="form-group">
                        {{ f.label_tag }}
                        {{ f }}
                        <small class="text-danger">{{ f.errors }}</small>
                    </div>
                    {% endfor %}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
