{% extends 'core/base.html' %}

{% block content %}
<h2>Change Password</h2>
<form method="POST">
    {% csrf_token %}
    <label for="old_password">Old Password:</label>
    <input type="password" name="old_password" required>
    
    <label for="new_password1">New Password:</label>
    <input type="password" name="new_password1" required>
    
    <label for="new_password2">Confirm New Password:</label>
    <input type="password" name="new_password2" required>
    
    <button type="submit">Change Password</button>
</form>
{% endblock %}

