{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Reset Your Password</h2>
            <form method="POST" action="{% url 'password_reset' %}">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Send Password Reset Link</button>
            </form>

            <p class="text-center mt-3">Remembered your password? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}

